@charset "UTF-8";

body{
    margin: 0;
    background-color: #2e445b;
    /*background: linear-gradient(135deg,#00b4be, #248364);
    background: linear-gradient(to right, #27455fdd, #27455fdd), url("./img/background.png");
    background-position: center, center;
    background-size: cover;
    background-attachment: fixed;*/

    top: 0;
    left: 0;
    padding-bottom: 60px; 
    animation-name: fadeinBG;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-direction: normal;
}

body::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #27455fdd, #27455fdd), url("https://mitori.art/img/background.png");
    background-size: cover;

}


@keyframes fadeinBG{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    display: flex;
    position: fixed;
    justify-content: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-family: "Montserrat";
    color: #ffffff ;
    text-decoration: none;
    background: linear-gradient(to right, #ffffff44, #ffffff66);
    mix-blend-mode: lighten;
    animation-name: FillinHeader;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-direction: normal;
}

@keyframes FillinHeader{
    0% {
        width: 0;
    }

    100% {
        width: 1;
    }
}
header a img {
    position: fixed;
    margin-top: 12px;
    width: auto;
    height: 25px;
    mix-blend-mode: lighten;
}
nav {
    display: inline-block;
    right: 20px;
    position: fixed;
    color: #ffffff;
    text-decoration: none;
    margin-top: 22px;
}
nav span a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 22px;
}
.pf {
    position: fixed;
    margin-top: 22px;
    margin-left: 160px;
}
footer {
    display: flex;
    flex-direction: column;
    margin-bottom: -60px;
    padding-bottom: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #ffffff22, #ffffff44);
}
footer p {
    margin-top: 22px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 0px;
    font-family: "Reenie Beanie";
    color: #ebfff7;
}