
:root{ /* --- theme: bright --- */
    --text: #2e445b;
    --text-bright: #5f758e;
    --text-pale: #8aa0bb;
    --text-h: #fff;
    --sidebar-bg: #ffffffbb;
    --head-bg: #fff;
    --main-bg: #ffffffdd;
    --main-h: #5f758e;
}

@media (prefers-color-scheme: dark){
    :root{ /* --- theme: dark --- */
        --text: #fff;
        --text-bright: #d6edff;
        --text-pale: #abc2dd;
        --text-h: #fff;
        --sidebar-bg: #5f758ebb;
        --head-bg: #5f758edd;
        --main-bg: #2e445bcc;
        --main-h: #5f758edd;
    }
}

header{
    background: linear-gradient(to right, #ffffff44, #ffffff66);
}
footer{
    background: linear-gradient(to right, #ffffff44, #ffffff66);
}

article {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px;
    color: var(--text);
    transition: .5s;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.sidebar{
    /*position: sticky;*/
    position: fixed;
    background-color: var(--sidebar-bg);
    border-radius: 15px;
    padding-bottom: 30px;
    width: 150px;
    height: auto;
    text-align: center;
}

.sidebar a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    color: var(--text-bright);
    text-decoration: none;
}

.index{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat";
}

.main{
    margin-left: 170px;
    background: var(--main-bg);/*linear-gradient(to right, #ffffffcc, #ffffffdd);*/
    border-radius: 15px;
    flex-grow: 2;
    width: auto;
    height: auto;
    text-align: left;
}

.heading{
    background-color: var(--head-bg);
    border-radius: 15px;
    padding-top: 5px;
}

.heading p{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 40px;
}

.headsub{
    font-family: "Montserrat";
    color: var(--text-pale);
    margin-left: 50px;
    margin-right: 50px;
}

.headsub a{
    color: var(--text-bright);
    text-decoration: none;
}

.info{
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.share-buttons{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
}

h3{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1rem 2rem;
    background-color: var(--main-h);
    border-radius: 10px;/*
    border-top: 3px dashed #fff;
    border-bottom: 3px dashed #fff;*/
    color: var(--text-h);
}

/* --- for smartphone --- */

@media (max-width: 769px){
    article {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .sidebar{
        position: static;
        margin-left: 20px;
        margin-bottom: 20px;
        width: auto;
        height: auto;
    }
    .sidebar a{
        font-size: normal;
    }
    .index{
        padding-top: 30px;
    }
    .main{
        margin-left: 20px;
        margin-top: 0px;
    }
    .heading p{
        font-size: 30px;
    }
    .headsub{
        margin-left: 30px;
        font-size: 15px;
    }
    .share-buttons{
        margin-left: 30px;
    }
    .text{
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
    h3{
        margin-left: -20px;
        margin-right: -20px;
    }
}