@charset "UTF-8";

body{
    display: block;
    background-color: #111822;
    background: linear-gradient(to right, #111122f9, #112222f9), url("https://mitori.art/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}
header {
    display: flex;
    z-index: 1;
    /*position: fixed;*/
    justify-content: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-family: "Montserrat";
    color: #ffffff;
    text-decoration: none;
    background: #00000044;
}

.headerleft {
    /*position: fixed;*/
    display: inline-flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.logo a img{
    width: 24px;
    height: auto;
}
.pf{
    margin-top: 3px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: -60px;
    padding-top: auto;
    padding-bottom: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00000044;
}
footer p {
    margin-top: 16px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 0px;
    font-family: "Reenie Beanie";
    color: #ffffff;
}