body{
    display: block;
    font-family: "Montserrat";
    color: #ffffff;
    background: #1d272f;
    background-color: #1d272f;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}



.textcolored{
    color: #fe3a7c;
    background: -webkit-linear-gradient(45deg, #fe3a7c, #ffa900);
    background: linear-gradient(45deg, #fe3a7c, #ffa900);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent
}

#about{
    display: grid;
    grid-template-rows: 65px 65px;
    grid-template-columns: 150px 1fr 150px;
    gap: 20px 20px;
    background-color: #ffffff11;
    margin-top: 20%;
    margin-bottom: auto;
    padding-left: 100px;
    padding-right: 100px;

}
.icon{
    grid-column: 1;
    grid-row: 1/3;
    background-color: #ffffff11;
}

.prof{
    grid-column: 2;
    grid-row: 1/3;
    background-color: #ff333311;
}
.item1{
    grid-column: 3;
    grid-row: 1;
    background-color: #33ff3311;
}
.item2{
    grid-column: 3;
    grid-row: 2;
    background-color: #3333ff11;
}
.icon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: all 300ms 0s ease;
}

.icon img:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition-duration: 0.2s;
}



.link-tw a img {
    width: 25px;
    height: auto;
    color: #ffffff;

}

.link-tw a img:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}
