@charset "UTF-8";

:root{
    --size-outer: 590px;
    --size-tag: 40px;
    --size-text: 20px;
    --size-field: 300px;
    --size-checkbox: 180px;
    --size-like: 16px;
}
@media (max-width: 769px){
:root{
    --size-outer: 100%;
    --size-tag: 30px;
    --size-text: 16px;
    --size-field: auto;
    --size-checkbox: auto;
    --size-like: 16px;
}
}



body{
    display: block;
    background-color: #111822;
    background: linear-gradient(to right, #222244e9, #224444e9), url("https://mitori.art/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}

#widgets {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    color: #fff;

}
#enclosed{
    background-color: #a7d000;
    border-radius: 24px;
    width: var(--size-outer);
    padding: 32px;
}
.tag{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.tag p{
    font-size: var(--size-tag);
    margin-top: -10px;
    margin-bottom: 20px;
}
.likethis{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #9ac000;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 2px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    width: var(--size-checkbox);
    font-size: var(--size-like);
    letter-spacing: 5px;
}
.form{
    display: flex;
    gap: 30px;
}
fieldset{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9ac000;
    margin-left: auto;
    margin-right: 2px;
    padding: 10px;
    width: var(--size-checkbox);
    border: none;
    border-radius: 12px;
    line-height: 32px;
}
.field{
    display: block;
    margin-left: 10px;
    text-align: start;
}
#enc_textbox{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--size-text);
    background-color: #7d9c00;
    border-radius: 10px;
    color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;

    resize: none;
    width: var(--size-field);
    height: 80px;
    padding-top: 16px;
    padding-left: 20px;

    padding-right: 20px;
    outline: none;
    border: none;
}
::placeholder{
    color: #a7d000;
}
#enc_result{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--size-text);
    background-color: #9ac000;
    border-radius: 10px;
    color: #fff;
    word-break: break-all;
    overflow: auto;

    width: var(--size-field);
    height: 100px;
    padding-top: 16px;
    padding-left: 20px;

    margin-top: 20px;
    padding-right: 20px;

}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.radio-inline__label {
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 10px;
    transition: all .15s;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #7d9c00;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: #9ac000;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 0px;
}

@media (max-width: 769px){
    #widget{
        display: block;
        margin: auto;
    }
    .form{
        display: block;
    }
    .field{
        width: var(--size-field);
        margin-left: 0px;
    }
    #enc_textbox{
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    #enc_result{
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;

    }
    fieldset{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: start;
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: auto;
    }
    .tag{
        justify-content: start;
        gap: 20px;
    }
    .likethis{
        background: none;
        color: #fff;
        height: 24px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 5px;
    }
}