@charset "UTF-8";

:root{
    --size-outer: 560px;
    --size-tag: 40px;
    --size-text: 24px;
    --size-field: 300px;
    --size-checkbox: 180px;
    --size-like: 16px;
}

body{
    display: block;
    background-color: #111822;
    background: linear-gradient(to right, #222244e9, #224444e9), url("https://mitori.art/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}

#widgets {
    display: flex;
    margin: 20px;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    color: #fff;

}
#enclosed{
    background-color: #a7d000;
    border-radius: 24px;
    width: var(--size-outer);
    padding: 32px;
}
.tag{
    display: flex;
    justify-content: space-between;
}
.tag p{
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: var(--size-tag);
}
.likethis{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #9ac000;
    border-radius: 10px;
    margin-top: -10px;
    margin-right: 2px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    width: var(--size-checkbox);
    font-size: var(--size-like);
    letter-spacing: 5px;
}
.form{
    display: flex;
    gap: 30px;
}
fieldset{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9ac000;
    margin-left: auto;
    margin-right: 2px;
    padding: 10px;
    width: var(--size-checkbox);
    border: none;
    border-radius: 12px;
    line-height: 32px;
}
.field{
    display: block;
    margin-left: 10px;
    width: calc(var(--size-field)+20px);
    text-align: start;
}
#enc_textbox{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--size-text);
    padding-left: 20px;
    background-color: #7d9c00;
    border-radius: 10px;
    color: #fff;
    width: var(--size-field);
    height: 100px;
    outline: none;
    border: none;
}
::placeholder{
    color: #a7d000;
}
#enc_result{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--size-text);
    background-color: #9ac000;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #fff;
    height: 80px;
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.radio-inline__label {
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 10px;
    transition: all .15s;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #7d9c00;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
