@charset "UTF-8";

:root{
    $size-outer: 590px;
    $size-tag: 40px;
    $size-text: 20px;
    $size-field: 300px;
    $size-checkbox: 180px;
    $size-like: 16px;
    $color-enc: 72;
    $color-sty: 154;
}
@media (max-width: 769px){
:root{
    $size-outer: 100%;
    $size-tag: 30px;
    $size-text: 16px;
    $size-field: auto;
    $size-checkbox: auto;
    $size-like: 14px;
}
}

#enclosed{
    @include enclosed($color-enc);
}
#enc_likethis{
    @include likethis($color-enc);
}
#enc_textbox{
    @include enc_textbox($color-enc);
}
::placeholder{
    @include placeholder($color-enc);
}
#enc_result{
    @include enc_result($color-enc);
}
#enc_fieldset{
    @include enc_fieldset($color-enc);
}





body{
    display: block;
    background-color: #111822;
    background: linear-gradient(to right, #222244e9, #224444e9), url("https://mitori.art/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}

.widgets {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    color: #fff;

}

@mixin enclosed($color){
    background-color: hsl($color, 100%, 41%);
    border-radius: 24px;
    width: $size-outer;
    padding: 32px;
}


.tag{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.tag p{
    font-size: $size-tag;
    margin-top: -10px;
    margin-bottom: 20px;
}
@mixin likethis($color){
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: hsl($color, 100%, 38%);
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 2px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    width: $size-checkbox;
    font-size: $size-like;
    letter-spacing: 5px;
}

.forme{
    display: flex;
    gap: 30px;
}
.field{
    display: block;
    margin-left: 10px;
    text-align: start;
}
@mixin enc_textbox($color){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: $size-text;
    background-color: hsl($color, 100%, 31%);
    border-radius: 10px;
    color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;

    resize: none;
    width: $size-field;
    height: 80px;
    padding-top: 16px;
    padding-left: 20px;

    padding-right: 20px;
    outline: none;
    border: none;
}
@mixin placeholder($color){
    color: hsl($color, 100%, 41%);
}

@mixin enc_result($color){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: $size-text;
    background-color: hsl($color, 100%, 38%);
    border-radius: 10px;
    color: #fff;
    word-break: break-all;
    overflow: auto;

    width: $size-field;
    height: 100px;
    padding-top: 16px;
    padding-left: 20px;

    margin-top: 20px;
    padding-right: 20px;
}

@mixin enc_fieldset($color){
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: hsl($color, 100%, 38%);
    margin-left: auto;
    margin-right: 2px;
    padding: 10px;
    width: $size-checkbox;
    border: none;
    border-radius: 12px;
    line-height: 32px;
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.radio-inline__label {
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 10px;
    transition: all .15s;
}
.radio-inline__input:checked + .radio-inline__label {
    background: hsl($color, 100%, 31%);
    color: #fff;
}
.radio-inline__input:focus + .radio-inline__label {
    outline-color: hsl($color,100%, 38%);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 0px;
}

@media (max-width: 769px){
    .widget{
        display: block;
        margin: auto;
    }
    .forme{
        display: block;
    }
    .field{
        min-width: $size-field;
        margin-left: 0px;
    }
    #enc_textbox{
        box-sizing: border-box;
        min-width: 80%;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    #enc_result{
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;

    }
    fieldset{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: start;
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: auto;
    }
    .tag{
        justify-content: start;
        gap: 20px;
        margin-left: 0px;
    }
    .likethis{
        background: none;
        color: #fff;
        height: 24px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 5px;
    }
}