@charset "UTF-8";

    $size: 0;
    $size-outer: auto;
    $size-tag: 40px;
    $size-desc: 16px;
    $size-text: 20px;

    $size-field: 2;
    $size-checkbox: 1;
    $size-like: 16px;

    $size-wts:   0px;
    $size-enc: 400px;
    $size-mth: 400px;

    $color: 0;
    $color-wts: 10;
    $color-enc: 36;
    $color-mth: 56;

@media (max-width: 660px){
    $size-outer: auto;
    $size-tag: 20px;
    $size-desc: 14px;
    $size-text: 16px;
    $size-field: auto;
    $size-checkbox: auto;
    $size-like: 10px;

}





body{
    display: block;
    background-color: #111822;
    background: linear-gradient(to right, #222244e9, #224444e9), url("https://mitori.art/img/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
}
a{
    color: #fff;
}

#widgetfield{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    color: #fff;
}









@mixin outer($color, $size){
    flex-grow: 2;
    background-color: hsl($color, 100%, 41%);
    border-radius: 24px;
    min-width: $size;

    width: max-content;
    padding: 32px;

}


.tag{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
@mixin tagp{
    font-size: $size-tag;
    margin-top: -10px;
    margin-bottom: 20px;
}

@mixin likethis($color){
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: hsl($color, 100%, 38%);
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 2px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    width: $size-checkbox;
    font-size: $size-like;
    letter-spacing: 5px;
}
@mixin description($color){
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size-desc;
    background-color: hsl($color, 100%, 38%);
    border-radius: 10px;
    word-break: normal;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.forme{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.field{
    display: block;
    flex-grow: $size-field;
    margin-left: 10px;
    text-align: start;
}
@mixin textbox($color){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: $size-text;
    background-color: hsl($color, 100%, 31%);
    border-radius: 10px;
    color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;

    resize: none;
    height: 80px;
    padding-top: 16px;
    padding-left: 20px;

    padding-right: 20px;
    outline: none;
    border: none;
}
@mixin placeholder($color){
    color: hsl($color, 100%, 41%);
}

@mixin result($color){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: $size-text;
    background-color: hsl($color, 100%, 38%);
    border-radius: 10px;
    color: #fff;
    word-break: break-all;
    overflow: auto;

    height: 100px;
    padding-top: 16px;
    padding-left: 20px;

    margin-top: 20px;
    padding-right: 20px;
}

fieldset{
    border: none;
}

@mixin fieldset($color){
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl($color, 100%, 38%);
    padding: 5px;
    flex-grow: $size-checkbox;
    border: none;
    border-radius: 12px;
    line-height: 28px;
}

@mixin rii{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
@mixin ril{
    padding: 8px 10px;
    margin-right: 18px;
    border-radius: 10px;
    transition: all .15s;
}

@mixin riic($color){
    background: hsl($color, 100%, 31%);
    color: #fff;
}

@mixin rilf($color){
    outline-color: hsl($color,100%, 38%);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 0px;
}




// --- --- --- for pc or tablet --- --- ---



#whats{
    @include outer($color-wts, $size-wts);
    flex-grow: 1;
    max-width: 400px;

}
#wts_tag{
    @include tagp;
    font-size: 36px;
    margin-bottom: 10px
}
.description{
    @include description($color-wts);
}

#enclosed{
    @include outer($color-enc, $size-enc);
}
#enc_tag{
    @include tagp;
}
#enc_likethis{
    @include likethis($color-enc);
}
#enc_textbox{
    @include textbox($color-enc);
}
::placeholder{
    @include placeholder($color-enc);
}
#enc_result{
    @include result($color-enc);
}
#enc_fieldset{
    @include fieldset($color-enc);
}
.rii_enc{
    @include rii();
}
.ril_enc{
    @include ril();
}
.rii_enc:checked + .ril_enc{
    @include riic($color-enc);
}
.rii_enc:focus + .ril_enc{
    @include rilf($color-enc);
}




#math{
    @include outer($color-mth, $size-mth);
}
#mth_tag{
    @include tagp;
}
#mth_likethis{
    @include likethis($color-mth);
    letter-spacing: 2px;
    padding-left: 10px;
}
#mth_textbox{
    @include textbox($color-mth);
}
#mth_textbox::placeholder{
    @include placeholder($color-mth);
}
#mth_result{
    @include result($color-mth);
}
#mth_fieldset{
    @include fieldset($color-mth);
}
.rii_mth{
    @include rii();
}
.ril_mth{
    @include ril();
}
.rii_mth:checked + .ril_mth{
    @include riic($color-mth);
}
.rii_mth:focus + .ril_mth{
    @include rilf($color-mth);
}





// --- --- --- for smartphone --- --- ---





@media (max-width: 660px){
    #widgetfield{
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    #whats, #enclosed, #math{
        margin-top: 20px;
        max-width: 660px;
        width: auto;
    }
    .forme{
        display: block;
    }
    .field{
        min-width: $size-field;
        margin-left: 0px;
    }
    #enc_textbox{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #enc_result{
        width: auto;
        padding-top: 10px;

    }
    fieldset{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: start;
    }
    #enc_fieldset{
        margin-top: 24px;
        width: auto;
    }
    .tag{
        justify-content: start;
        gap: 20px;
        margin-left: 0px;
    }
    #enc_tag{
        font-size: 32px;
    }

    #enc_likethis{
        width: auto;
        font-size: 12px;
        word-break: break-all;
        color: #fff;
        height: 24px;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-right: 5px;
    }




    #mth_tag{
        font-size: 24px;
    }
    #mth_likethis{
        width: auto;
        font-size: 12px;

        color: #fff;
        height: 24px;
        margin-top: -12px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 12px;
    }
    #mth_textbox{ // later.
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #mth_result{
        width: auto;
        padding-top: 10px;
    }
    #mth_fieldset{
        margin-top: 24px;
        width: auto;
    }





}