@charset "UTF-8";

:root{
    --darken: #444444;
    --text: #446600;
    --hilight: #bbff44;
    --size: 48px;
    --formsize: calc(var(--size)*6);
}

#main{
    height: 100vh;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    margin-top: 50%;
    text-align: center;
    font-family: "Montserrat";
    font-size: var(--size);
    background-color: #00000000;
    border-radius: 10px;
    color: var(--hilight);
    width: var(--formsize);
    height: auto;
    outline: none;
    border: none;
}
::placeholder{
    color: var(--text);
}
#testfield{
    position: absolute;
    top: 40px;
    left: 10px;
    font-family: "Montserrat";
    font-size: var(--size);
    color: var(--text);
}